client.cfg
*.h5
*~
*#
*.pyc
.vscode
*.tflite
*.csv
*.png
curator_tools/osdb.cfg
user_tools/osdbCfg.json
user_tools/dataSummariser/osdbCfg.json

!user_tools/datasets/human_activity_dataset/Datasets/sample_osdb_data.csv